@font-face {
	font-family: WonderMail;
	src: url("assets/wondermail.ttf");
}

body {
    background-color: #707070;
	background: url("assets/back.png") no-repeat fixed center;
    color: #FFFFFF;
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
	padding: 10px 0px 0px;
}

a {
	color: #68D068;
}

h1 {
	text-align: center;
	font-size:40px;
	color: #FFCE00;
	letter-spacing: 3px;
	text-shadow: 2px 2px 5px #68D068;
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 5px 30% 0px;
	padding: 0px 0px 10px;
}

em.hero{
	color:#009cff;
	font-style: normal;
}

em.partner{
	color:#FFFF00;
	font-style: normal;
}

em.team{
	color:#FFA5FE;
	font-style: normal;
}

img[class^="icon"] {
	position: relative;
	margin-top: -5px;
	top: 2px;
	left: -1px;
	margin-right: 1px;
}

.section-input {
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	padding: 10px;
	width: min-content;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
}

.section-result {
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	padding: 10px;
	width: min-content;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	position: relative;
}

.section-text {
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 20px 15% 20px;
	padding: 0px 10px;
}

#box, #input{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#output {
	padding-top: 0px;
	padding-left: 36px;
	font-family: WonderMail;
	font-size:200%;
	line-height: 26px;
	white-space: nowrap;
	z-index: 1; 
	position: absolute;
	top: 24px;
	left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	display:inline-block;
}