body {
    background-color: #707070;
	background: url("assets/back.png") no-repeat fixed center;
    color: #FFFFFF;
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
	padding: 10px 0px 0px;
}

a {
	color: #68D068;
}

h1 {
	text-align: center;
	font-size:40px;
	color: #FFCE00;
	letter-spacing: 3px;
	text-shadow: 2px 2px 5px #68D068;
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 5px 30% 0px;
	padding: 0px 0px 10px;
}

.section {
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 10px auto 10px;
	width: 500px;
	padding: 10px;
}
.section-text {
	background-color: #333333;
	border-style: ridge;
	border-width: 8px 12px;
	border-color: #68D068;
	border-radius: 10px;
	margin: 0px 15% 20px;
	padding: 0px 10px;
}

#input,canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
